<a href="https://colab.research.google.com/github/CERINSARABOBY/python.01/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
mark = int(input())

145

In [2]:
mark = int(input())
if mark > 50: 
  print("pass")
if mark == 50:
  print("just pass")
if mark < 50 :
  print("fail");

145
pass

In [3]:
salary =int(input())

10000

In [4]:
salary =int(input())
if salary > 100000:
    print('you are taxable')
if salary < 100000:

   print ('you are not taxable')

134576
you are taxable

In [5]:
salary =int(input())
if salary > 200000 and salary <500000:
  print('you are taxable', salary*10/100)
if salary > 500000:
  print ('you are  taxable',salary*20/100)

214367
you are taxable 21436.7